/*-----------------------------variaveis-----------------------------------------------------*/
:root{
   --cor-principal: #7ae18d;
   --cor-secundaria: #6f6f6f;
   --body-bg: #fafafa;
   
}
/* ---------------------------------menu de navegação---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{margin:0; 
  padding: 0;
  box-sizing: border-box;
  font-family:"Poppins", sans-serif;
}
body{
    background: #fafafa;
    color: #000;
    }

.navigation{
    position: fixed;
    height: 500px;
    background: var(--cor-secundaria);
    width: 70px;
    box-shadow: 10px 0 0 --cor-principal;
    border-left: 10px solid var(--cor-secundaria);
    overflow-x:hidden;
    transition: 0.5s;
    top: 20px;
}
.navigation:hover{
    width: 300px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 50px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;    
}
.navigation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: left 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.navigation ul li.active{
    background: var(--cor-principal);
}
.navigation ul li.active a::before{
    content: "";
    position: absolute;
    top:-30px;
    right: 0px;
    width: 30px;
    height: 30px;
    background: var(--cor-secundaria);
    border-radius: 50%;
    box-shadow: 15px 15px 0 var(--cor-principal);
}
.navigation ul li.active a::after{
    content: "";
    position: absolute;
    bottom: -30px;
    right: 0px;
    width: 30px;
    height: 30px;
    background: var(--cor-secundaria);
    border-radius: 50%;
    box-shadow: 15px 15px  var(--cor-secundaria);
}

/*@-----------------------------botão dark mode-------------------------------------------*/
*{
    box-sizing: border-box;
}
.darkmode{
    transition: background 0.5s linear, color 0.5s linear;
    position: inherit;
    background: #222222;
    color: white;
}
.botaozin{
    top:20px;
    right:15px;
    position:fixed;

} 
.label{
    background: color;
    border-radius: 20%;
    display: inline-block;
    width:50px;
    height:30px;
    cursor:pointer;
    user-select: none;
    transition:background 0.5s linear; 
    background:var(--cor-principal);
}
#btn{
    visibility:hidden;
}
#sun{
    visibility:hidden;
    font-size: 20px;
    padding-left: 15px;
    padding-top:4px ;
    position: fixed;
    color: var(--cor-secundaria);
}
#moon{
    visibility: visible;
    font-size: 20px;
    padding-left: 15px;
    padding-top:4px ;
    position: fixed;
    color: var(--cor-secundaria);

}
/*botão volta ao topo*/
.volta-topo{
    position: fixed;
    color: var(--cor-principal) ;
    text-decoration: none;
    background: var(--cor-secundaria);
    border-radius: 50%;
    right: 15px;
    bottom:15px;
    width: 40px;
    height: 40px;
    box-shadow: 3px 3px 10px #333333;
    transition: 0.5s;
    display: none;
    z-index:999;
}
.icone-volto-topo ion-icon{
    font-size: 40px;
}



/* -----------------------------formulário -----------------------------------*/
.formulario{
    top:20px;
    left:380px;
    position: absolute;
    width:600px;
    padding: 20px;
    border:4px;
    display:none;  
    

}
.formulario input{
    height: 40px;
    border: 0,3px;
    
     
}
.formulario select{
    height:40px;
    width: 60px;
}
#estado-civil{
    width: 100px;
    align-items: center;
    font-size: 15px;

}
#enviar{
    width: 80px;
    height:40px;
    background:var(--cor-principal);
    border-radius: 5px;
    font-size: 20px;
    color:white;
}
#limpar{
    width: 80px;
    height:40px;
    background:var(--cor-secundaria);
    border-radius: 5px;
    font-size: 20px;
    color:white;
}
#num-parcelas{
    display: none;
}
#num-parcelas1{
    display: none;
}
#bloco-valor{
    height: 60px;
    width: 40px;
    display: none;
}
